#message
h1 Hello World 
h3 Software that helps facilitate your dynamic schedules, keeps you well informed, saves precious resources, reduces stress, and keeps you organized.

h2 SCHEDULING THAT CHANGES WHEN YOU DO
h3 With our leading edge software, you can confidently adjust your schedules, on the fly, and Good Timez will do everything else to keep you organized and informed.

h2 INFORMATION TO KEEP THOSE YOU CARE ABOUT SAFE
h3 Good Timez keeps you informed, so you can always know the whereabouts and safety of those that depend on you.

h2 SAVE TIME AND MONEY
h3 Stop wasting countless hours, slaving away at  manual record keeping. With Good Timez, your workplace can save tens of hours per month per faculty member.

h1 CONTACT US
h3 650 SW Columbia St, Bend, OR 97702, USA <br>taymal1987@gmail.com <br> (555) 555-5555