body {
  padding-top: 50px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: auto;
  text-align: center;
}

a {
  color: #00B7FF;
}

h1 {
	text-align: center;
}

.top {
	font-family: 'Zilla Slab', serif;
	font-size: 30px;
	background: url('../images/harold.jpg') center;
	background-repeat: no-repeat;
	background-size: 40%;
}

.bottom {
	margin-top: 10em;
	display: grid;
	grid-template-columns:    repeat(3, 30%);
	grid-column-gap: 3em;
	font-family: 'Zilla Slab', serif;
	font-size: 15px;
}

#subscription {
	border-style: solid;
	background-color: rgb(228, 236, 242);
	margin: 100px;
	padding-bottom: 2%;
}

.stripe-button {
	font-family: 'Zilla Slab', serif;
	font-size: 30px;
}

#buy {
	text-decoration: none;
	font-family: 'Zilla Slab', serif;
	font-size: 60px;
	border-style: solid;
	border-radius: 3%;
	background-color: rgb(79,11,84);
	color: rgb(251,124,18);
	padding: 1%;
}

#buy:hover {
  text-decoration: none;
  background-color: rgb(255,255,255); /* Green */
  color: rgb(251,124,18);
  border-style: solid;
  border-radius: 3%;
}

.contact{
	font-family: 'Zilla Slab', serif;
	font-size: 12px;
}